.container-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 630px;
  background-color: rgb(151, 139, 150) ;
  border: 1px solid #4b4949;
  border-radius: 7px;
  
  }
 

.container-login__item {
  margin-bottom: 40px;
  color: rgb(123, 61, 131);
  border-radius: 10px;
  border: 1px solid rgb(114, 113, 113);
  font-size: 30px;
  background-color: rgb(247, 242, 242) ;
}
