.product-list {
  display: flex;
  flex-direction: column;
  color: rgb(247, 219, 247);
  font-size: 30px;
  background-color: rgb(82, 81, 82);
  border-radius: 30px;
  
}

.product-list__h1 {
  display: block;
  width: 100%;
  border-radius: 30px;
}

.product-list__h2 {
  font-size: 35px;
  color: rgb(117, 85, 117);
}

.product-list__h3 {
  font-size: 45px;
  color: rgb(92, 6, 92);
  background-color: rgb(231, 209, 231);
}

.product-list__search {
  width: 490px;
  height: 50px;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 25px;
  
}

.product-list__select {
  width: 500px;
  height: 53px;
  font-size: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 25px;
}

.product-list__list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  color: rgb(243, 237, 237);
  background: linear-gradient(to left, #eb1974, #f5aa87 100%);
background-position: 0 100%;
background-size: 100% 2px;
background-repeat: repeat-x;

}
