.container-registration {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
  font-family: 'Courier New', Courier, monospace;
  
}

.container-registration__item {
  margin-bottom: 20px;
  font-size: 25px;
  color: rgb(231, 37, 37);
}
