.product {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  min-height: 700px;
  max-height: 1300px;
  border: 1px solid rgb(48, 47, 47);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.product__image {
  margin: 0 auto;
  width: 220px;
}

.basketButton_2 {
  background-color:#fcdcdc ;
 
  border-radius: 7px;
height: 40px;
width: auto;
  font-size: 15px;
  border: 1px solid rgb(116, 102, 102);
  color: #eb1974;
  }