.fetch-products__wrapper {
  margin-bottom: 50px;
  background-color: rgb(216, 211, 216); 
}

.fetch-products__button {
  width: 400px;
  height: 70px;
  background-color: blueviolet;
  border-radius: 10px;
 font-style: initial;
}